body {
  min-height: 100vh;
  margin: 0;
}

.view {
  position: absolute;
  display: flex;
  width: 100%;
}

#main {
  height: 100%;
  align-items: center;
}

#mitem {
  width: 100%;
  text-align: center;
}

@media (min-width: 640px) {
  #mitem {
    font-size: 5vw;
  }
}

#btnViewList {
  position: absolute;
  top: 2vw;
  right: 2vw;
}

#list {
  z-index: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

#lightbox {
  max-width: 80%;
  margin: 5vw auto;
  padding: 5vw;
  background-color: #fff;
}

.list {
  width: 100%;
  text-align: center;
}

#lhead h1 {
  margin: 0;
}

#lbody {
  margin: 30px 0;
  text-align: left;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
}

#add {
  margin-bottom: 30px;
}